.App {
  text-align: center;
}

.Search-Container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-label {
  font-size: 50px;
}

.search-input {
  width: 300px;
  height: 30px;
}

.Table-Container{
  margin-top: 15px;
  width: 1000px;
}

.Table-header {
  display: flex;
  flex-direction: row;
}

.Table {
  display: flex;
}

.cell {
  width: 215px;
  height: 50px;
  word-wrap: break-word;
  font-size: 16px;
}




.App-link {
  color: #61dafb;
}

